APScheduler==3.6.3
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
clarifai==2.6.2
configparser==3.8.1
cryptography==3.4.7
EasyProcess==0.3
emoji==1.2.0
future==0.18.2
googleapis-common-protos==1.53.0
grpcio==1.38.0
idna==2.10
jsonschema==2.6.0
MeaningCloud-python==2.0.0
plyer==2.0.0
protobuf==3.17.0
pycparser==2.20
pyOpenSSL==20.0.1
python-telegram-bot==13.5
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
tornado==6.1
tqdm==4.60.0
tzlocal==2.1
urllib3==1.26.4
webdriverdownloader==1.1.0.3

setuptools~=57.0.0
click~=8.0.1